.container {
  max-width: 100vw;
  display: grid;
  
}

.left {
  display: flex;
  flex-direction: column;
  
}

.left_1 {
  display: flex;
  margin-left: 10vw !important;
}

#img_wrap {
  cursor: pointer;
  display: flex;
}

#img_wrap img {
  width: 8vw !important;
  object-fit: contain;
  height: 8vh  !important;
  padding-top: 3vh !important;
}

.left_2 .img {
 
  object-fit: contain;
}

@media (max-width: 1024px) {
  .left_1 {
    width: 100vw !important;
    gap: 30px !important;
 
  }
}
